<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<aspNetCore arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" processPath="%LAUNCHER_PATH%" />
		<handlers>
			<add name="aspNetCore" modules="AspNetCoreModule" path="*" resourceType="Unspecified" verb="*" />
		</handlers>
	</system.webServer>
</configuration>